# Bundle Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=iomete_iam_db
DB_USER=your_username
DB_PASSWORD=your_password
DB_SSL_MODE=require

# Asset Database Configuration
ASSET_DB_HOST=localhost
ASSET_DB_PORT=5432
ASSET_DB_NAME=iomete_core_db
ASSET_DB_USER=your_username
ASSET_DB_PASSWORD=your_password
ASSET_DB_SSL_MODE=require
