# PySpark requirements
pyspark==3.5.9
pandas==2.2.3
pyarrow==23.0.1

# Spark Connect requirements
grpcio==1.83.0
googleapis-common-protos==1.65.0
grpcio-status==1.83.0

# Only required for python version >= 3.12
setuptools==78.1.1
